body {
        background-color:  #8d1c3d;
    }

h1{
    color: #ffffff;
    text-align: center;
    font-size: 30pt;
   }
h2{
    color: #8d1c3d;
    text-align: center;
   }
   .contenedor{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
   }

   .contenedor2{
    float: right;
    
   }
   .margen{
    margin: 5em 5 5 5;
    width: 350px;
    padding: 20px;
    border: 2px solid #8d1c3d;
   }

   form{
       width:1000px;
       height: 280px;
       padding:116px;
       border-radius:5px;
       margin: auto;
       background-color:#63a194 ;
       
   }
   
form label{
       width:72px;
       font-weight:bold;
       display:inline-block;
       align-items: center;
   }
   
form input[type="text"],
form input[type="number"]{
       width:280px;
       padding: 10px;
       border:1px solid #ffffff;
       border-radius: 5px;       
       background-color:#ffffff;
       margin:20px 0;
       display: block;
       margin: 0 0 0 20px;
   }
   
form button[type="submit"]{
       width: 200px;
       padding: 10px ;
       margin-top:32px;
       border:1px solid rgba(0, 0, 0, 0);
       border-radius:5px;
       color: #8d1c3d;
       background-color:#ffffff;
       margin: 35px 0 0 70px;
   } 
   
.loader:before,
.loader:after,
.loader {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  margin: auto;
  font-size: 30px;
  position: relative;
  text-indent: -9999em;
  -webkit-animation-delay: 0.16s;
  animation-delay: 0.16s;
  align-items: center ;
}
.loader:before {
  left: -3.5em;
}
.loader:after {
  left: 3.5em;
  -webkit-animation-delay: 0.32s;
  animation-delay: 0.32s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #ffffff;
  }
  40% {
    box-shadow: 0 2.5em 0 0em #ffffff;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #ffffff;
  }
  40% {
    box-shadow: 0 2.5em 0 0em #b09677;
  }
}

.center{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.ring {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0 4px 0 #63a194;
    background: transparent;
    animation: animate 1s linear infinite;
}

.text{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    color: #63a194;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    line-height: 300px;
    font-size: 1.5em;
    background: transparent;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

@keyframes animate
{

    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}









